/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Raleway:wght@400;600&display=swap');

header,
body {
    background-color: #bfb8ae;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #efefef;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel", sans-serif;
    color: #efefef;
}

.uppercase {
    text-transform: uppercase;
}

.block-divider {
    width: 75px;
    height: 3px;
    border: 0;
    background-color: #efefef;
}

.block-divider-small {
    width: 75px;
    height: 1px;
    border: 0;
    background-color: #efefef;
}

.bg-dif {
    background-color: #b0bbb5;
}

/* --------------------------------------------- Nav bar */

.logo-top-bar {
    background-color: #aea18e;
    height: 120px;
}

.bg-dark {
    background-color: #aea18e!important;
    top: 60px;
    padding: 0px 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #efefef;
    font-family: "Cinzel", sans-serif;
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #b0bbb5;
}

.navbar-dark .navbar-nav .active>.nav-link {
    background-color: #b0bbb5;
}

/* --------------------------------------------- small images */

 .logo {
    width: 150px;
    height: 60px;
    padding-top: 10px;
}

.types-brief-image {
    height: 180px;
    margin: 20px 0px;
    border-radius: 10px;
        /* -- box shadow code from Material Design Box Shadows by Samual Thornton */
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bacp {
    height: 50%;
    width: 60%;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-left: 1em;
    border-radius: 10px;
    padding-right: 1em;
    background-color: #ffffff!important;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img.image-responsive.bacp {
    object-fit: contain;
}

/* --------------------------------------------- medium images */

.headshot-image {
    border-radius: 50%;
    margin: 15px;
    height: 300px;
    width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 30px;
        /* -- box shadow code from Material Design Box Shadows by Samual Thornton */
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.types-image {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 400px;
        /* -- box shadow code from Material Design Box Shadows by Samual Thornton */
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (max-width: 768px) {
    .types-image-top {
        margin-top: 0px;
    }
}

/* --------------------------------------------- large images */

.banner-top-image {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
}

.banner-image {
    height: 90vh;
    -o-object-fit: cover;
       object-fit: cover;
}

/* --------------------------------------------- youtube video's */

.collabs-vid-col {
    max-width: 500px;
    padding-bottom: 30px;
}

/* --------------------------------------------- Text Containers */

.page-title-mobile {
    margin-top: 128px;
    width: 100%;
    padding-top: 5px;
    background-color: #b0bbb5;
    border:  1px solid #f8f8f8;
}

@media only screen and (min-width: 768px) {

    .page-title-mobile {
        display: none;
    }
}

/*-- Home page */

.about-me {
    text-align: center;
    padding: 20px 30px;
}

.about-me p {
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .about-me p {
    text-align: left;
}
}

.types-available {
    padding: 20px 30px;
    width: 100%;
}

.feature {
    text-align: center;
    border: 1px solid #f8f8f8;
}

/*-- types page */

.top-text {
    margin-top: 128px;
}

@media only screen and (max-width: 767px) {

.top-text {
    margin-top: 0px;
}
}

.three-col-text-section {
    padding: 20px;
}

.types-sections {
    padding: 20px;
}

.types-text-right {
    margin-top: 10px;
}

.types-text-right p {
    text-align: center;
}

.types-text-left p {
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .types-text-left p {
    text-align: right;
}

    .types-text-right p {
    text-align: left;
}
}

.faq-question {
    margin-top: 10px;
}

.faq-answer {
    text-align: left;
    padding: 10px;
}

/*-- collabs page */

.collabs-text-col {
    padding: 20px;
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .collabs-text-col {
    text-align: center;
    padding: 50px;
}
}

@media only screen and (min-width: 1300px) {

    .collabs-text-col {
    text-align: center;
    padding: 50px 100px 50px 100px;
}
}

/*-- talk page */

.talk-form {
    padding: 0px 20px 20px 30px;
}

/* --------------------------------------------- buttons */

.btn-custom1 {
    color: #efefef;
    background-color: #17a2b8;
    border-color: #efefef;
}

.btn-custom2 {
    color: #efefef;
    background-color: #aea18e;
    border-color: #efefef;
}
.social-links-header li a i {
    margin-top: 20px;
    width: 32px;
    height: 32px;
    padding: 12px 10px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #aea18e;
    background-color: #efefef;
}

.social-links-header li a i:hover {
    background-color: #b0bbb5;
}

.social-links-header-sm li a i {
    margin-top: 20px;
    width: 32px;
    height: 32px;
    padding: 12px 10px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #aea18e;
    background-color: #efefef;
}

.social-links-header-sm li a i:hover {
    background-color: #b0bbb5;
}

.social-links-footer li a i {
    width: 32px;
    height: 32px;
    padding: 12px 10px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #aea18e;
    background-color: #efefef;
    
}

.social-links-footer li a i:hover {
    background-color: #b0bbb5;
}

/* --------------------------------------------- cards */

.card-header {
    background-color: #bfb8ae;
}

.btn-link {
    color: #efefef;
    font-family: "Cinzel", sans-serif;
}

.btn:hover {
    color: #efefef;
    background-color: #b0bbb5;
}

.card-body {
    background-color: #efefef;
    color: #aea18e;
}

/* --------------------------------------------- input fields */

.tel-spacing {
    padding-top: 15px;
}

/* --------------------------------------------- footer */

.footer-types-available {
    padding: 20px 30px;
    width: 100%;
    background-color: #aea18e;
    min-height: 300px;
}

.call-links {
    text-align: right;
    color: #b0bbb5;
}

.call-links a:hover {
    text-decoration: none;
}

.call-links a:hover h6 {
    color: #b0bbb5;
}

.phone-numbers {
    text-align: left;
    margin-top: 2px;
}

.feature ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
}

.feature h5 {
    padding-top: 20px;
}

.contact-details li i {
    height: 10px;
    padding: 10px;
    
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}