@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Raleway:wght@400;600&display=swap');

header,
body {
    background-color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #fafafa;
}

h1,
h2,
h3, {
    font-family: "Cinzel", sans-serif;
    align: center;
}

.uppercase {
    text-transform: uppercase;
}


/* --------------------------------------------- Nav bar */

.navbar-dark .navbar-nav .nav-link {
    color: #fafafa;
}

.bg-dark {
    background-color: black!important;
}

/* --------------------------------------------- small images */

 .logo {
    width: 110px;
    height: 55px;
    overflow: hidden;
    margin-top: -6px;
}

.headshot {
    margin-right: 30px;
    margin-bottom: 30px;
    height: 200px;
    width: 250px;
    align: center;
}



/* --------------------------------------------- large images */


/* --------------------------------------------- Containers */

.about-me {
    padding: 50px 0px;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}



/* --------------------------------------------- buttons */

.social-links li a i {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 10px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: black;
    background-color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}